/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 70px;
    height: 60px;
    /* left: 90%; */
    top: 60px;
    right: 60px;
}
   
/* Color/shape of burger icon bars */
.bm-burger-bars {
    /* background: #000; */
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    min-height: 40px;
    min-width: 40px;
}

/* Color/shape of close button cross */
.bm-cross {
    /* color: #fff; */
}

/* General sidebar styles */
.bm-menu {
    /* background: #000; */
    /* padding: 2.5em 3.5em 0; */
    text-align: center;
    padding-top: 60px;
    font-size: 1.5em;
    font-family: monospace;
    opacity: 0.1;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #000;
    opacity: 0.8;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.6em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.1);
}